## 前言

Scikit learn menu https://scikit-learn.org/stable/auto_examples/index.html  
本文參考中文翻譯的 [Scikit-learn]('https://machine-learning-python.kspax.io/')

自己針對想瞭解的地方跟打以及做筆記，以備以後參考

## 常用在分類上的模型評分指標
### precision, recall, f1-score, (support)

- True Positive(TP,真陽):實際為3且判斷為3，共79個
- False Positive(FP,偽陽):判斷為3但判斷錯誤，共2個
- False Negative(FN,偽陰):實際為3但判斷錯誤，共12個
- True Negative(TN,真陰):實際不為3，且判斷正確。也就是其餘899-79-2-12=885個
---
precision = TP/(TP+FP) = 79/81 = 0.98 判斷為3且實際為3的比例為0.98  
recall = TP/(TP+FN) = 79/91 = 0.87 實際為3且判斷為3的比例為0.87  

f1-score 則為以上兩者之「harmonic mean 調和平均數」   
f1-score= 2 x precision x recall/(recision + recall) = 0.92

support 把實際答案的每個分類數量列出來

In [ ]:
## 看資料內容的方法
for key,value in digits.items() :
    try:
        print (key,value.shape)
    except:
        print (key)

In [37]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
iris = datasets.load_iris()

In [22]:
iris_see= pd.Series(iris)#,index=iris.keys())#index = idx

In [29]:
iris_see1= pd.DataFrame(iris_see)

## pandas dataframe
print(select_df.shape) # 回傳列數與欄數  
print("---")  
print(select_df.describe()) # 回傳描述性統計  
print("---")  
print(select_df.head(3)) # 回傳前三筆觀測值  
print("---")  
print(select_df.tail(3)) # 回傳後三筆觀測值  
print("---")  
print(select_df.columns) # 回傳欄位名稱  
print("---")  
print(select_df.index) # 回傳 index  
print("---")  
print(select_df.info) # 回傳資料內容

In [82]:
print(iris_see1)

                                                               0
data           [[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [...
target         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
frame                                                       None
target_names                     [setosa, versicolor, virginica]
DESCR          .. _iris_dataset:\n\nIris plants dataset\n----...
feature_names  [sepal length (cm), sepal width (cm), petal le...
filename       /Users/huangming-yi/anaconda3/lib/python3.8/si...

In [83]:
new_col=np.append(np.array(['data']),iris_see1.T['target_names'].iloc[0])

In [84]:
iris_see2= pd.DataFrame(iris_see1.T['data'].iloc[0], columns= new_col)

In [85]:
iris_see2.head()

   data  setosa  versicolor  virginica
0   5.1     3.5         1.4        0.2
1   4.9     3.0         1.4        0.2
2   4.7     3.2         1.3        0.2
3   4.6     3.1         1.5        0.2
4   5.0     3.6         1.4        0.2

In [86]:
iris_see2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   data        150 non-null    float64
 1   setosa      150 non-null    float64
 2   versicolor  150 non-null    float64
 3   virginica   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [88]:
iris_see2.describe()

             data      setosa  versicolor   virginica
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [89]:
iris_see2.columns

Index(['data', 'setosa', 'versicolor', 'virginica'], dtype='object')